body {
    margin: 220px 0 0 0;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
  }

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background: black;
    display: none;
    text-align: center;
    z-index: 989;
    transition: 0.3s;
}

/* ### INÍCIO DO CABEÇALHO ###*/
.topnav {
    position: fixed;
    background-color: #fff;
    padding: 110px 0px;
    width: 100%;
    transition: 0.3s;
    top: 0;
    z-index: 99;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    transition: 0.4s;
}

.topnav-right {
    float: right;
}

.topnav-right a {
    position: absolute;
    top: 50%;
    transform: translate(-300%, -50%);
    padding: 0;
}

.searchbtn { 
    font-size: 30px;
    color: gray;
    background-color: none;
    cursor: pointer;
}

.searchbtn:hover {
    color: #444;
}

/* Search bar */
input[type=text] {
    position: fixed;
    top: 220px;
    width: 100%;
    height: 0;
    color: #666;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    font-size: 21px;
    background-color: white;
    padding: 0 0 0 50px;
    z-index: 2;
    transition: 0.3s;
}

::placeholder{
    color: #ccc;
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: -300px;
    background-color: #26408d; 
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 20px 10px 20px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #3f528c;
  }
  
  .sidepanel .home { 
    border-left: 3px solid #ffd600;
  }
  
  .sidepanel .ativo a {
    padding: 60px 0 160px 30px;
    border-bottom:1px solid #3f528c;
  }
  
  .ativo span {
    color: #f2f2f2;
    font-size: 21px;
    font-weight: 300;
    position: absolute;
    padding: 25px 0 0 10px;
    border-top: none;
  }
  
  .sidepanel .sociais {
    padding: 20px 0 0 32px;
    transition: 0.3s;
  }
  
  .sidepanel .sociais a {
    display: inline;
    border: none;
    padding-left: 0;
  }
  
  .sidepanel p {
    font-size: 12px;
    font-weight: 300;
    color: #f2f2f2;
    padding-left: 32px;
  }
  
  .copyright {
    display: block;
    font-size: 10px;
    color: #f2f2f2;
    padding: 300px 0 32px 32px;
  }
    
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #ffd600;
  }
    
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight: 400;
    margin-left: 50px;
    border: none;
  }
    
  /* Style the button that is used to open the sidepanel */
  .menu {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    position: absolute;
    padding: 0;
    border: none;
    top: 50%;
    transform: translate(200%, -50%);
  }
  
  .menu:hover {
    color: #444;
  }
  
  .menu span {
    position: absolute;
    font-size: 21px;
    font-weight: 300;
    padding: 6px 0 0 8px;
  }
  
  /* ### FIM DO CABEÇALHO ###*/

  /* ### INÍCIO DO BANNER ###*/

.carousel {
    position: relative;
    max-width: 1920px;
    height: 450px;
    margin: 0 50px 50px 50px;
    border: none;
}

.carousel-item img {
    object-fit: cover;
    height: 450px;
}

.carousel-caption h2 {
    position: absolute;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 3px solid white;
    padding: 20px;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}
.carousel-caption p {
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    bottom: 40px;
}

/* ### FIM DO BANNER ###*/

/*##############*/
/* Medium screns*/
/*##############*/

@media screen and (max-width: 1020px) {

    .carousel {
      margin: 0;
    }

  }

/*##############*/
/* Smalls screns*/
/*##############*/
@media screen and (max-width: 800px) {

    body {
        margin: 90px 0 0 0;
    }
  
    #topnavbar {
        padding: 90px 0px 0 0 !important;
    }
  
    #logo {
        height: 70px !important;
    }

    .menu span {
        display: none;
    }
    
    .menu {
        transform: translate(100%, -50%);
    }
    
    .topnav-right a {
        transform: translate(-200%, -50%);
    }
    
    input[type=text]{
        top: 90px !important;
        position: fixed;
        padding-left: 25px;
    }
    
    .carousel p {
        display: none;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .carousel-caption h2 {
        font-size: 25px;
        width: 250px;
    }

}